body {
    background-color: #fffff }
  
h1 {
    color: rgb(13, 13, 20);
    margin-left: 20px;
    text-align:center
}


    #chicken {
        height: 15px;
        width: 80px;
        font-size: 10px;
        padding: 5px;;
        border: 2px solid rgb(5, 0, 10);
        margin: 10px;
        background-color:#D3D3D3;
        text-align:center;
    
        }
 

  